@import '../../styles/coolors.scss';

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.795);

  #logout {
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    background-color: $blue;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
    border-radius: 3px;

    &:hover {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
    }
  }
}

table {
  display: block;
  border-collapse: collapse;
  display: block;
  padding: 10px;

  th, tr, td {
    padding: 5px;
    background-color: $gray;
    border: 1px solid black;
  }

  #inputTasks {
    width: 100%;
    padding: 5px;
    border: none;
    outline: 2px solid transparent;
    border-radius: 3px;

    &:focus {
      outline: 2px solid rgba(128, 0, 128, 0.397);
    }
  }

  #submit {
    display: grid;
    place-items: center;
    position: absolute;
    top: 51.2%;
    right: 1%;
    padding: 7px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: translate(0, -50%);
  }

  td {
    word-wrap: break-word;
    &.content {
      min-width: 280px;
      width: 50vw;
      max-width: 500px;
    }

    &.checks {
      text-align: center;
    }

    &.options {
      text-align: center;
      min-width: 80px;

      button {
        cursor: pointer;
        margin: 0px 4px;
        padding: 5px;
        background-color: transparent;
        border: 0.5px solid rgba(0, 0, 0, 0.726);
        border-radius: 3px;
      }

      .trash {
        color: red;
      }
    }

    &.checked {
      color: #00ff43;
      text-decoration: line-through;
    }
  }
}