@import '../../styles/coolors.scss';

#formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-width: 280px;
  width: 40vw;
  max-width: 480px;
  padding: 50px 10px;
  border: 2px solid black;
  border-radius: 10px;

  h1 {
    margin-bottom: 20px;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;

    label {
      margin-bottom: 3px;
    }

    input {
      border: none;
      outline: none;
      padding: 8px 5px;
      border-radius: 3px;

      &[type="text"], &[type="password"] {
        outline: 2px solid transparent;
      }

      &:focus {
        outline: 2px solid $purple;
      }
    }

    .eye {
      display: grid;
      place-items: center;
      position: absolute;
      right: 2%;
      top: 37%;
      cursor: pointer;
      font-size: 1.5em;
      background-color: white;
      height: 22px;
    }

    .err {
      visibility: hidden;
      cursor: default;
      text-align: justify;
      margin-top: 2px;
      font-size: 0.7em;
      color: red;
    }
  }

  input[type="submit"] {
    cursor: pointer;
    padding: 8px 35px;
    color: purple;
    background-color: white;
    border: 2px solid $purple;
    border-radius: 3px;
  }

  .links {
    cursor: pointer;
    color: darkblue;
    text-decoration: underline;
  }

  #terms {
    font-size: 0.7em;
  }
}